<div class="container mt-5 mb-5">
  <div class="col-md-10 mx-auto">

    {{!-- Category selections --}}
    <div class="form-group mt-3">
      <form action="/" method="POST">
        <select name="categorySelect" id="categorySelect" onchange="this.form.submit()" class="form-control">
          {{#if categorySelected}}
          <option value="{{categorySelected}}" selected>{{categorySelected}}</option>
          {{else}}
          <option value="全部" selected>全部</option>
          {{/if}}
          {{#each categoryFromDb}}
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>

    {{!-- Total amount --}}
    <div class="total-amount">
      <p>總金額：</p>
      <p>$ {{totalAmount}} 元</p>
    </div>

    {{!-- Record list --}}

    <div class="record-list">
      <ul class="list-group">
        {{#each records}}
        <li class="list-group-item">
          <div class="row p-0">
            <div class="col-auto">
              <i class="{{this.icon}} list-icon"></i>
            </div>
            <div class="col">
              <p>{{this.name}}</p>
              <figcaption>{{this.date}}</figcaption>
            </div>
            <div class="col">{{this.amount}}</div>
            <div class="col">
              <form action="/records/{{this._id}}?_method=DELETE" method="POST">
                <a href="/records/{{this._id}}/edit" class="btn btn-primary">修改</a>
                <button class="btn btn-danger" type="submit">刪除</button>
              </form>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
    <a href="/records/new" class="btn btn-primary">新增項目</a>
  </div>


</div>
